---
import '../styles/global.css';
import Footer from '../components/footer.astro';
import Header from '../components/header.astro';
const pageTitle = "¿Quién es Casariana dev?"

const identity = {
  firstName: "Julián Meneses",
  country: "Colombiaa",
  occupation: "Desarrollador",
  hobbies: ["Nadar", "Ver películas", "Compartir en familia"],
};

const skills = ["HTML", "CSS", "JavaScript", "Tailwind-css", "Astro", "Redacción de documentos"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style define:vars={{skillColor}}>
            .skill {
                color: var(--skillColor)
            }
        </style>
	</head>
	<body>
        <Header/>
		<h1>{pageTitle}</h1>
        <h2>He aquí algunos datos sobre mí:</h2>
        <ul>
            <li>Me llamo {identity.firstName}.</li>
            <li>Vivo en {identity.country} y trabajo como {identity.occupation}.</li>
            {identity.hobbies.length >= 3 &&
                <li>Tres de mis aficiones son: {identity.hobbies[0]}, {identity.hobbies[1]} y {identity.hobbies[2]}</li>
            }
        </ul>
        
        <p>Repensar a cerca de las habilidades que usamos para ser productivos es el factor común en la actualidad; pues muchos saberes están siendo relegados por el crecimiento exponencial de la tecnología.</p>
        <p>El analisis y desarrollo de software, habilidades que, bajo mi percepción, podrán dar continuidad a la evolución de la tecnologia manejada por los humanos ante la oleada del control de las actividades por parte de las IAs que hoy nos inundan y desplazan la actividad humana sobre sus propios quehaceres</p>
       <h2>Mis habilidades duras son:</h2>
        <ul>
            {skills.map((skill) => <li>{skill}</li>)}
        </ul>
        <h2>Habilidades Blandas</h2>
        <p>En la actualidad la productividad marca gran diferencia en los intervinientes de la economía, y en muchos casos podemos diferenciar a estos intervinientes a través de las habilidades blandas pues dan a los equipos de trabajo y usuarios finales un plus de servicio y apoyo que termina determinando motivos de eleccón y blablabla</p>
        <ul>
            <li>Comunicación efectiva</li>
            <li>Liderazgo</li>
            <li>Pensamiento crítico</li>
            <li>Capacidad de adaptación</li>
            <li>Empatia</li>
            <li>Ética</li>
        </ul>

        {happy && <p>¡Estoy feliz de aprender Astro!</p>}

        {finished && <p>¡He terminado este tutorial!</p>}

        {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
        <Footer/>
        <script>
            import "../scripts/menu.js"
          </script>
	</body>
</html>
